<nav class="navbar navbar-expand-md bg-black">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="col-md-2">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#dropdown" aria-controls="dropdown" aria-expanded="false"
              aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand text-white ms-4" id="logo1" href="{{@site.url}}">
             <img src="{{@site.logo}}" class="rounded navbar-logo" />&nbsp;&nbsp;{{@site.title}}
        </a>
      </div>
      <div class="col-md-10">
        <div class="collapse navbar-collapse" id="dropdown">
          {{#if @blog.navigation}}
              {{navigation}}
          {{/if}}
        </div>
      </div>
</nav>
