{{!< default}}

{{!-- The main content area --}}
  <main id="site-main" class="site-main outer container-fluid">
        <!-- home section -->
        <section id="home" class="container jumbotron text-center" >
          <div class="row my-4">
            <div class="col-md-6">
              <img src="{{asset "img/poster.png"}}" id="poster" class="img-fluid"></img>
            </div>
            <div class="col-md-6 home-startup-intro">
              <h3 class="site-title">Fast Paced<br>Startup Engineering</h3><br />
              <h4 class="site-brief">Interim CTO for Entrepreneurs.</h4><br />
              <a href="/about" class="btn btn-dark btn-lg" role="button" tabIndex="-1" aria-disabled="false">KNOW MORE</a>
              <br />
            </div>
          </div>
        </section>
        <section id="ideas" class="container-fluid">
          <div class="row">
            <div class="col-md-10">
              <h2 style="margin-left: 20px;">Ideas & Insights </h2>
            </div>
            <div class="col-md-2" align="center">
              <span style="display: block; margin-top: 20px; text-align: right; margin-right: 20px;"><a href="/insights" class="btn btn-light btn-lg" role="button">View All</a></span>
            </div>
          </div>

          <div class="post-feed">
            {{#get "posts" filter="tags:article" limit="3" as |filtered_posts|}}
              {{#foreach filtered_posts}}
                  {{> "post-card"}}
              {{/foreach}}
            {{/get}}
            {{#next_post}}
                alert({{url}})
            {{/next_post}}

            {{!-- If there's a previous post, display it using the same markup included from - partials/post-card.hbs --}}
            {{#prev_post}}
                {{url}}
            {{/prev_post}}
          </div>
        </section>
        <section id="work" class="container-fluid">
          <div class="row">
            <div class="col-md-10">
              <h1 style="margin-left: 20px;">Featured Work</h1>
            </div>
            <div class="col-md-2" align="center">
              <span style="display: block; margin-top: 20px; text-align: right; margin-right: 20px;"><a href="/casestudies" class="btn btn-dark btn-lg" role="button">View All</a></span>
            </div>
          </div>
          <div class="post-feed">
            <!--{{#foreach posts}}
                {{> "post-card"}}
            {{/foreach}}-->
            {{#get "posts" filter="tags:clients" limit="5" as |filtered_posts|}}
              {{#foreach filtered_posts}}
                  {{> "work"}}
              {{/foreach}}
            {{/get}}
          </div>
        </section>
  </main>
