{{!< default}} {{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template
    --}} <div class="p-5 d-flex justify-content-center">
    <div class="px-4 col-8">
        <div class="col-8 offset-2">
            <div class="h1 py-2">Feel Free to Reach Out.</div>
            <input type="text" class="mb-4 text-bg-grey border-0 text-dark p-2 fs-5 w-100" placeholder="Name"> <br>
            <input type="email" class="mb-4 text-bg-grey border-0 text-dark p-2 fs-5 w-100" placeholder="Email"> <br>
            <textarea type="message" class="mb-4 text-bg-grey border-0 text-dark p-2 fs-5 w-100 h-200px"
                placeholder="Message"></textarea> <br>
            <div class="d-flex justify-content-between">
                <button class="btn text-bg-grey rounded-0 fs-4">Clear</button>
                <button class="btn text-bg-grey rounded-0 fs-4">Submit &rarr;</button>
            </div>
        </div>

    </div>
    <div class="px-3 border-start border-2 border-dark col-4 fw-bold">
        <div class="h1 py-2">Contact Details :</div>
        <div class="w-100 h-50 bg-grey mb-3"></div>
        <div class="text-justify">Ninja Monk Labs</div>
        <div class="text-justify mb-2">Chowk Bazar, Najibabad, India -246724</div>
        <div class="text-justify mb-2">ninjamonk@pm.me</div>
        <div class="text-justify">+91-7456883325</div>
    </div>
    </div>