html {
  position: relative;
  min-height: 100%;

}
body {
  /* Margin bottom by footer height */
  color: #000;
  font-family: 'Hind', sans-serif;
  font-size: 14px;
  width: 100%;
}
.container {
  padding-left: 0px;
  padding-right: 0px;
}
h1, h2, h3, h4, h5 {
  color: #000;
}
@font-face {
    font-family: ;
    src: url();
}
hr {
  border-top: 1px solid rgba(0,0,0,0.3);
}

/* Navbar */
.navbar-brand>img {
  display: inline-block;
  background-color: #fff;
}
#logo img {
  width: 50px;
}
#logo {
  position: relative;
  left: -5px;
  top: -15px;
  color: #fff;
}
.navbar{
  background-color: rgba(0,0,0,1);
  border: none;
  padding: 10px 0;
  border-radius: 0px;
  color: #fff;

}
.navbar-inverse{
  background-color: rgba(0,0,0,1);
}
.navbar-default .navbar-brand{
  color: rgba(0,0,0,1);
  font-size: 18px;
}
.navbar-default .navbar-nav>li>a {
  color: rgba(255,255,255,1);
  font-size: 16px;
}
.navbar-default .navbar-nav>li>a:hover {
  font-size: 16px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background-color: rgba(0,0,0,0);
}
#dropdown{
  margin-top: 10px;
}

/* Home */
#profile img{
  margin: 20% 0;
  width: 200px;
  height: 200px;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}
#profile img:hover{
  width: 200px;
  height: 200px;
  filter: null;
  -webkit-filter: grayscale(0%);
}
#profile {
  margin-top:10%;
}
.jumbotron{
  color: #000;
  background-color: #fff;
}
.tag span{
  background-color: rgba(0,0,0,0.7);
  padding: 5px;
  color: #fff;
  width: 100%;
  padding: 20px;
}
.tag span:hover{
  background-color: rgba(0,0,0,1);
  padding: 5px;
  color: #fff;
  width: 100%;
  padding: 20px;
  filter: none;
  -webkit-filter: grayscale(0%);
}
.fab, .fas{
  padding: 10px;
  font-size: 30px;
}
.btn-social {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-weight: lighter;
  font-size: 14px;
}
.btn-social:hover {
  color: #777;
  text-decoration: none;
}
.btn-social a {
  color: #000;
}
#tagCloud p {
  margin: 10%;
}

/* Brands */
#brands {
  background: rgba(0, 0, 0, 1);
  padding: 20px;
  padding-bottom: 50px;
}
#brands h3{
  color: #fff;
}
#brands img {
  height: 100px;
  max-width: 220px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Work */
.name img {
  height: 50px;
  padding: 10px;
  margin-bottom: 5px;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}
.link a img{
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  width: 50%;
  margin: 30px;
}
.link1 a img{
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  width: 45%;
  margin: 50px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.link, .link1 {
  display: inline-block;
  align-items: center;
  text-align: center;
}
.content {
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  margin-left: 5px;
}
.logo img{
  width: 64px;
}
.product, .tech {
  text-align: left;
}
.visual {
  text-align: center;
  padding: 5px;
}

.popup img {
  width: 32.67%;
  height: 100%;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  padding: 5px;
  text-align: left;
}
.popup img:hover {
  width: 32.67%;
  height: 100%;
  filter: none;
  padding: 5px;
  -webkit-filter: grayscale(0%);
}

.popup1 img {
  width: 70.67%;
  height: 100%;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  padding: 5px;
  text-align: left;
}
.popup1 img:hover {
  width: 70.67%;
  height: 100%;
  filter: none;
  padding: 5px;
  -webkit-filter: grayscale(0%);
}

/* Open Source */
#opensource {
  background-color: #000;
  padding: 10px;
}
.subTitle, .title {
  color: #fff;
}
.thumbnail img {
  height: 150px;
  width: 100%;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}
.caption {
  border-top: 0.5px rgba(0,0,0,0.5) solid;
}

/* Ideas */
#ideas {
  margin-top: 120px;
}
.post-feed {
  margin-top: 170px;
}

/* Footer */
#footer {
  margin-top: 20px;
}
.text-muted, .text-muted a{
  color: #777777;
  margin-left: 20px;
}
