@import "var.less";

//  Index:
// 1.utilities 2. Body 3.Navbar 4.Home-page 5.Post-cards 6.Footer 7.Page-About

//1.Utilities
.d-flex {
    display: flex !important;
}.custom-text-decoration, .custom-text-decoration a {
    text-decoration: none;
    &:hover{
        text-decoration: underline;
        text-decoration-color: @dark;
    }
}.fs-1rem {
    font-size: 1rem;
}.mx-2 {
    margin-right: .5rem!important;
    margin-left: .5rem!important;
}

// 2.Body
body {
    background: radial-gradient(circle, #fffdd0 0, #fff 50%, #fffdd0 100%);
}
// 3. Navbar
.navbar-logo {
    height: 60px !important;
    width: auto;
}
// 4. Home-page
img#poster {
    height: 450px;
    filter: grayscale(70%);
}.home-startup-intro {
    .d-flex;
    flex-direction: column;
    justify-content: center;
}section#ideas {
    margin: 0;
    border-radius: 5px;
}
// 5. Post-cards
.post-card {
    overflow: hidden;
    margin: 0 20px 20px;
    height: 400px;
    background: hsla(0, 0%, 100%, .1) 50%;
    background-size: cover;
    border-radius: 10px;
    transition: all .5s ease;
}.home-post-card-image {
    width: 100% !important;
    height: 300px !important;
    background: #c5d2d9 no-repeat 50%;
    border-radius: 10px;
}.post-card-content-link{
    .post-card-title {
    height: 50px;
    color: snow;
}
    &:hover {
        opacity: 0.8;
    }
}.post-card-read-more-btn {
    height: 30px;
}.work-card-title-margin {
    margin-top: -15px;
}
// 6.Footer
.footer-text-color, .footer-text-color *, .footer-text-color * *{
    color: @footer-color;
}.rss-button svg {
    margin-bottom: 15px;
    height: 2.7rem;
    fill: hsla(0,0%,100%,.7);
}.site-footer-nav a i {
    @media (max-width: 768px) {
        font-size: 1.4rem;
    }
    font-size: 2rem;
    .mx-2;
}
// 7.Page-about
.post.tag-about {
    margin-right: 1rem!important;
    margin-left: 1rem!important;
    @media (min-width: 768px) { 
    margin-right: 1.5rem!important;
    margin-left: 1.5rem!important;
    }
    & .post-full-header h1 {
    font-weight: bold;
    font-size: 2.2rem;
    margin-top: 40px;
    }
}